
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel, .slick-carousel {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */
    max-height: 50vh;
    margin: auto;
    display: flex;
    align-items: center;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
   
}

/* Declare heights because of positioning of img element */
.carousel .item, .item {
    height: 50vh;
    background-color: #ffffff;
}

.carousel-max-width {
    max-width: 75vh;
}


.carousel-inner > .item > img {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #BDBDBD;
}

.carousel-inner {
}

.carousel-indicators {
}

.carousel-indicators li {
    background-color: #EEEEEE;
}

.carousel-indicators .active {
    background-color: #E0E0E0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
