<div class="view">
    <header class="info-name info-description">ABOUT DAVID WONG</header>
    <img src="/img/profile.jpg" class="img_middle padding-20px" >

    <p>
        David is a recent mechatronics engineering graduate from the University of British Columbia and he is currently looking for opportunities.
        <br>
        <br> He has experience in manufacturing, mechanical design, and research.
        <br> His skills include: SolidWorks, Pro/ENGINEER, Abaqus, MATLAB, Simulink, C, C++, C#.
        <br> He is knowledgable in: Mechanical and mechatronics design, control systems, concurrent programming, object-oriented programming, embedded systems and microcontrollers, acoustics and noise control.
        <br>
        <br> David's passion for engineering is developing new technologies that can help people and improve their lives.
        <br>
        <br> His LinkedIn profile can be viewed here: <a href="https://ca.linkedin.com/in/davidgwong">https://ca.linkedin.com/in/davidgwong</a>.
    </p>
    <header class="info-name info-description padding-20px">ABOUT THIS WEBSITE</header>
    <p>
        This website was created using Bootstrap v3.3.6 and AngularJS v1.5.7. Carousel for the photography page is from UI Bootstrap v1.3.3.
    </p>
</div>
