<div class="view" ng-controller="PanelController as panel">
    <img class="img_middle" ng-src="{{detail.icon}}">
    <p class="info-name info-description description-panel">{{ detail.name }}</p>


    <ul class="nav nav-tabs">
        <li ng-class="{ active: panel.isSelected(1) }">
            <a href ng-click="panel.selectTab(1)">Overview</a>
        </li>
        <li ng-class="{ active: panel.isSelected(2) }">
            <a href ng-click="panel.selectTab(2)">Detail</a>
        </li>
    </ul>

    <div class="description-panel" ng-show="panel.isSelected(1)">
        <p><b>Team members: </b>{{detail.team_members}}</p>
        <p><b>Duration: </b>{{detail.duration}}</p>
        <p><b>Abstract: </b>{{detail.abstract}}</p>
    </div>

    <div class="description-panel" ng-show="panel.isSelected(2)">
        <p>Work in progress</p>
    </div>

</div>
